<!DOCTYPE html>
<html ng-app="timeTrackerApp">
  <head>
    <meta charset="UTF-8">
    <title>Time Tracker Yo!</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/photon.css">
    <style type="text/css">
      input.ng-invalid.ng-touched {
        /*background-color: #FA787E;*/
        background-color: #F08080;
      }
      input.small {
        width: 38px;
        height: 18px;
      }
    </style>

    <!-- In Electron, this is the correct way to include jQuery -->
    <!--<script>window.$ = require('./node_modules/jquery/dist/jquery.min.js');</script>-->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
  </head>

  <body ng-controller="mainController">

    <div class="window">

      <header class="toolbar toolbar-header">
        <div class="toolbar-actions padded-vertically-less">
          <button class="btn btn-default active" ng-click="gotoPage('home')" ng-class="homeClass">
            <span class="icon icon-home"></span>
          </button>
          <div class="btn-group">
            <button class="btn btn-default" ng-click="gotoPage('newTask')" ng-class="newTaskClass">
              <span class="icon icon-list-add icon-text"></span>
              New Project
            </button>
            <button class="btn btn-default" ng-click="gotoPage('summary')" ng-class="summaryClass">
              <span class="icon icon-chart-pie icon-text"></span>
              Summary View
            </button>
          </div>

          <button class="btn btn-default btn-dropdown pull-right">
            <span class="icon icon-megaphone"></span>
          </button>
        </div>
      </header>

      <div class="window-content">
        <div class="pane-group">
          <div class="pane-one-fourth sidebar">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="task in tasks">
                <img class="img-circle media-object pull-left" src="img/zh.png" width="32" height="32">
                <div class="media-body">
                  <strong>{{task.name}}</strong>
                  <span class="icon icon icon-tools media-object pull-right"></span>
                  <p>{{task.description}}</p>
                </div>
              </li>
              <li class="list-group-item" ng-repeat="task in completedTasks">
                <img class="img-circle media-object pull-left" src="img/zh1.png" width="32" height="32">
                <div class="media-body">
                  <strong>{{task.name}}</strong>
                  <span class="glyphicon glyphicon-check pull-right"></span>
                  <p>{{task.description}}</p>
                </div>
              </li>
            </ul>
          </div>

          <div class="pane">
            <div ng-switch="page">
              <div ng-switch-when="home">
                <div ng-include="'./views/home.html'"></div>
              </div>
              <div ng-switch-when="newTask">
                <div ng-include="'./views/newTask.html'"></div>
              </div>
              <div ng-switch-when="summary">
                <div ng-include="'./views/summary.html'"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Dependencies -->
    <script src="js/setup.js"></script>
    <script src="js/services/electronSvc.js"></script>
    <!-- <script src="js/directives/time.js"></script> -->
    <script src="js/controllers/main.js"></script>

  </body>


</html>
