<!DOCTYPE html>
<html ng-app="timeTrackerApp">
  <head>
    <meta charset="UTF-8">
    <title>Auto-stop</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/photon.css">

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="../node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
  </head>

  <body ng-controller="autostopController">

    <div class="window">
      <div class="window-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="page-header">
                <h4>Stop all running projects? Proceeding in {{countDown}} seconds.</h4>
              </div>
              <!--<br>-->
              <div class="form-actions">
                <button type="submit" class="btn btn-form btn-primary" ng-click="autoStop()">OK</button>
                <button class="btn btn-form btn-default" ng-click="autoStopAddTime()">Postpone for One Hour</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Dependencies -->
    <script src="../js/setup.js"></script>
    <script src="../js/services/electronSvc.js"></script>
    <script src="../js/controllers/autostop.js"></script>

  </body>
</html>
