<!DOCTYPE html>

  <div class="container-fluid">
    <br>
    <div class="row">
      <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading"><h3>Active Projects</h3></div>
          <div class="panel-body">
            <div class="form-group row" ng-repeat="task in tasks">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <strong>{{task.name}}</strong>
                <!-- <strong>{{task.tracking}}</strong> -->
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <span>Total {{ totalHours[task.id] }} h : {{ totalMinutes[task.id] }} m : {{ totalSeconds[task.id] }} s</span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <span>{{ hours[task.id] }} h : {{ minutes[task.id] }} m : {{ seconds[task.id] }} s</span>
                <!-- <time-counter/> -->
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="button-group pull-right">
                  <button type="button" class="btn btn-default" ng-disabled="timerRunning[task.id]" ng-click="startTracking(task)">
                    <span class="icon icon-play"></span>
                  </button>
                  <button type="button" class="btn btn-default" ng-disabled="!timerRunning[task.id]" ng-click="stopTracking(task)">
                    <span class="icon icon-stop"></span>
                  </button>
                  <button type="button" class="btn btn-default" ng-click="archiveTask(task)">
                    <span class="icon icon icon-archive"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-warning">
          <div class="panel-heading"><h3>Completed Projects</h3></div>
          <div class="panel-body">
            <div class="form-group row" ng-repeat="task in completedTasks">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <strong>{{task.name}}</strong>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <!-- Total hours: {{totalTime[task.id].hours}} -->
                <span>Total {{ totalHours[task.id] }} h : {{ totalMinutes[task.id] }} m : {{ totalSeconds[task.id] }} s</span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <span></span>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="button-group pull-right">
                  <button type="button" class="btn btn-default" ng-click="activateTask(task)">
                    <span class="icon icon icon-flash"></span>
                  </button>
                  <button type="button" class="btn btn-default" ng-click="deleteTask(task)">
                    <span class="icon icon icon-trash"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
