<!DOCTYPE html>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <h2>Summary</h2>
        <br>
        <table class="table">
          <thead>
            <tr>
              <th>Project</th>
              <th ng-repeat="date in allDates">{{date}}</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="task in tasks">
              <td>{{task.name}}</td>
              <td ng-repeat="date in allDates">{{dateCounter[task.id][date]}}</td>
              <td></td>
            </tr>
            <tr ng-repeat="task in completedTasks">
              <td>{{task.name}}</td>
              <td ng-repeat="date in allDates">{{dateCounter[task.id][date]}}</td>
              <td>{{dateCounter[task.id]['total']}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
